.map-buttons {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.lobby-buttons {
    position: absolute;
    top: 90px; /* Ajusta según sea necesario */
    left: 53.5%;
    transform: translateX(-60%);
    z-index: 1000;
    display: flex;
    gap: 10px;
    background-color: #1f2937;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
}

.map-button {
    background-color: #1f2937;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.map-button:hover {
    background-color: #374151;
}

.lobby-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lobby-button:hover {
    background-color: #e2e8f0; /* Color de fondo al pasar el ratón */
}

.hidden {
    display: none !important;
}

#gimcanaModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Asegúrate de que sea más alto que el mapa */
}

#gimcanaModal .modal-content {
    background-color: #1f2937; /* Color de fondo */
    color: white; /* Texto blanco para contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-content {
    background-color: #1f2937; /* Color de fondo */
    color: white; /* Texto blanco para contraste */
    padding: 30px;
    border-radius: 10px;
    width: 80%; /* Más amplio */
    max-width: 600px; /* Ancho máximo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gimcanaList li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

#gimcanaList li:hover {
    background-color: #374151; /* Color al pasar el ratón */
}

#gimcanaList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 20px;
}

.gimcana-card {
    background-color: #1f3720;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    transition: transform 0.3s;
}

.gimcana-card:hover {
    transform: scale(1.05);
}

.gimcana-card .icon {
    margin-top: 10px;
    font-size: 1.5rem;
}